.lds-dual-ring {
  position: fixed;
  right: 0.75rem;
  bottom: 0.75rem;
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #0A0 transparent #4D4 transparent;
  animation: lds-dual-ring .75s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
